[2015-03-01 20:41] mark-hahn opened #1 "add option to use ctrl instead"

[2015-03-03 02:36] mark-hahn opened #2 "show-stopper bug: dragging for no reason"
Dragging starts for no reason.  I don't notice until the mouse is another place in the file.  I am having trouble getting a repeatable sequence, even though it happens often.

The package is pretty much useless until this is fixed.  I need help figuring out how to repeat this.

[2015-03-03 05:52] mark-hahn commented on #2
fixed in 0.2.2

[2015-03-03 05:52] #2 closed

[2015-05-22 03:55] radsectors opened #3 "Uncaught TypeError: Cannot read property 'start' of undefined"
[Enter steps to reproduce below:]

1. select text
2. drag text
3. drop text.
4. uncaught error!

**Atom Version**: 0.201.0
**System**: Microsoft Windows 8.1 Enterprise
**Thrown From**: [simple-drag-drop-text](https://github.com/mark-hahn/simple-drag-drop-text) package, v0.2.2

### Stack Trace

Uncaught TypeError: Cannot read property 'start' of undefined

[code]

### Commands

[code]

### Config

[2015-05-23 18:02] Zireael07 commented on #3
Was gonna report it when I saw this. Please fix ASAP, I can't work without it :)

[2015-05-24 06:06] mark-hahn commented on #3
Thanks for the report.  I'll be getting to that package Sunday.

On Sat, May 23, 2015 at 11:02 AM, Zireael07 notifications@github.com
wrote:

[2015-05-24 22:38] mark-hahn commented on #3
Thanks again.  Fixed in 0.2.3.

[2015-05-24 22:38] #3 closed

[2015-05-24 22:52] meeshypeeshy commented on #3
And thank you!

[2015-05-28 20:17] amayer5125 opened #4 "Undo Drag And Drop Requires 2 Undo Key Presses"
After I drag and drop a piece of text if I would like to undo the change I have to press `[ctrl] + [z]` twice.
Is there a way to make it that I only need to press undo once?

[2015-05-28 20:25] mark-hahn commented on #4
It has bothered me also.  I'll get to this after the June 1st deadline for deprecation fixing.

[2015-06-30 09:08] bewam commented on #1
Thanks for your work, it's very useful when you come from other editors, because most have.

The ctrl key in most (almost all) editors is used to copy-paste (keep original selection), the pointer become one with the sign +. It would be nice to use the key this way and keep the standard actual cut-paste behavior as it was first implemented.

[2015-06-30 16:48] mark-hahn commented on #1
Thanks.  I'll get to this asap.

[2015-08-13 17:20] jeffreydking opened #5 "Breaks Selecting multiple lines"
Selecting multiple words still works fine (double clicking without a mouse up on the last click, then drag the cursor).

But selecting multiple lines no longer works with this package enabled (triple click without a mouse up on the third click, then drag the cursor). Rather than selecting a range of lines, it drags the word selected with the double click.

The package does not distinguish between

[2015-08-13 20:56] mark-hahn commented on #5
Has it worked before?  I usually only drag words.

On Thu, Aug 13, 2015 at 10:20 AM, Jeffrey D. King notifications@github.com
wrote:

[2015-08-14 14:35] jeffreydking commented on #5
It worked before I installed this package. I will often move blocks of code this way.

[2015-09-22 12:32] clemorphy opened #8 "Failed to load the simple-drag-drop-text package"
[Enter steps to reproduce below:]
1. Launch Atom

**Atom Version**: 1.0.15
**System**: Windows 8.1
**Thrown From**: [simple-drag-drop-text](https://github.com/mark-hahn/simple-drag-drop-text) package, v0.3.0
### Stack Trace

Failed to load the simple-drag-drop-text package

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-09-28 10:00] clemorphy commented on #8
Same issue with other packages here : https://github.com/atom/atom/issues/8891

[2015-10-15 13:51] mickdekkers opened #9 "Drag text out of Atom"
Would it be possible to add a feature that allows you to drag text out of Atom and into other applications?
Coming from Sublime, I am used to dragging and dropping text into Google Chrome for some quick searching.

[2015-10-15 18:30] mark-hahn commented on #9
We would have to find out if electron can do this.  BTW, there is a package
to select text, hit a key, and start a search.

On Thu, Oct 15, 2015 at 6:51 AM, SoullessWaffle notifications@github.com
wrote:

[2015-10-16 13:44] mickdekkers commented on #9
I don't know how Sublime does it, but I found this .NET article: https://msdn.microsoft.com/en-us/library/bs2c4z53(v=vs.110).aspx

[2015-11-18 10:03] robsonsobral opened #10 "cursor when dragging and hovering selection"
Hi!

Thanks for the package.

Is it possible, please, to change the cursor when dragging and hovering the selection?

[2015-11-19 17:38] mark-hahn commented on #9
Unfortunately that is for windows apps, not the chrome browser.  I'll research using the browser.

I'm sorry for letting these issues drag out.  I've been busy with a startup but I'll force myself to get some time for this.

[2015-11-19 17:40] mark-hahn commented on #9
I just searched for "drag items from chrome browser to another app" and got nothing.

[2015-11-19 17:53] mickdekkers commented on #9
I found this Windows 10 article but I'm certain I was doing this in Windows 7 too: http://microsoft-news.com/windows-10-to-bring-drag-and-drop-capabilities-between-different-applications-and-more/

[2015-11-19 18:01] mark-hahn commented on #9
Once again this pertains to windows apps, not a browser.  I can't code in windows.  If the browser doesn't already support this then I can't do it.  Also I would only do it if it can be cross-platform.  For example, I use linux, not windows.

[2015-11-19 18:03] mickdekkers commented on #9
I see. I'm not using Linux; does it also allow dragging text between the browser and other applications?

[2015-11-19 19:55] mark-hahn commented on #9
I don't know. I didn't know you could do it on any OS.

 I just tried another google search on the topic with "chrome browser drag
text to os app" and I had a little more luck but nothing helpful.  It's
weird that based on these searches one would think it isn't possible
anywhere.  I'm gonna need some help to look into this any further.

On Thu, Nov 19, 2015 at 10:03 AM, SoullessWaffle notificatio

[2015-11-23 10:26] ryanjkelly commented on #10
+1

[2015-11-23 10:47] mark-hahn commented on #10
Yes.  I will be working on this package soon and I'll add it.

[2015-12-02 19:59] mickdekkers commented on #9
I made a gif to clarify what I mean:
![drag-drop-text-between-applications.gif](https://drive.google.com/uc?export=download&id=0BygQm6_xi9S9X1k1Vi1DQzRxeFU)

[2015-12-02 23:20] mark-hahn commented on #9
Can you do me a favor and see if sublime supports this on anything other
than windows?  I can find references to dragging text between apps only for
.net and windows.  I looked in the sublime docs and couldn't find anything
about it.  I wanted to know if it was supported in Linux.

On Wed, Dec 2, 2015 at 11:59 AM, SoullessWaffle notifications@github.com
wrote:

[2015-12-03 23:45] mickdekkers commented on #9
I tried it in a fresh Ubuntu 15.10 Virtualbox VM with the default settings and it doesn't seem to support it.
I suppose it's possible a different desktop environment does support it, but like I said I don't use Linux so I wouldn't really know.

What's interesting is that Slack (an Electron application) _does_ support dragging text into other applications in Windows (but not into Slack from other a

[2015-12-04 01:23] mark-hahn commented on #9
Unfortunately a technical question like this is too complex to do a real
google search on.  At least it was too complex for me.

On Thu, Dec 3, 2015 at 3:45 PM, SoullessWaffle notifications@github.com
wrote:

[2015-12-22 11:07] Sogl commented on #10
+1

Need it like in Sublime Text:
![4](https://cloud.githubusercontent.com/assets/7556290/11953940/fa55d816-a8ef-11e5-9c72-7cc15eb20b8f.gif)

[2015-12-22 17:14] mark-hahn commented on #10
What is the difference you are asking for?

On Tue, Dec 22, 2015 at 3:07 AM, Artyom Mezin notifications@github.com
wrote:

[2015-12-22 23:45] Sogl commented on #10
No difference. Just an example.

[2015-12-22 23:53] mark-hahn commented on #10
I mean, why did you post this issue?  I haven't been using drag-drop and I
don't remember what it looks like.

On Tue, Dec 22, 2015 at 3:46 PM, Artyom Mezin notifications@github.com
wrote:

[2015-12-22 23:56] mark-hahn commented on #10
Never mind.  When I get a chance I'll fire it up and compare the two.

On Tue, Dec 22, 2015 at 3:52 PM, Mark Hahn mark@hahnca.com wrote:

[2015-12-23 00:12] Sogl commented on #10
1. Issue starter is `robsonsobral`, not me. But for me this feature is missed too.
2. I post gif from ST for all, not only for you...and just for example. I think you know very well how it looks like. :smirk:

:+1:

Thank you for your attention.

[2015-12-28 16:52] keithjgrant opened #11 "Drag from one file to another in split panes"
Thanks for this package!

This issue is similar to issue #6, but hopefully(?) easier to implement. I often develop with two side-by-side panes in Atom. I would love to be able to drag from the file on one side into the other. I do this all the time  when refactoring, and was disappointed to discover Atom doesn't do it.

[2016-02-03 01:08] joshuaneedham opened #12 "Drag and drop from line number"
I am curious if it's possible to add the functionality of drag and drop to the line number without having to hover selected text? Currently if I click on a line number the entire line is selected however I have to move the cursor right toward the text in order to drag and drop.

[2016-02-03 16:03] mark-hahn commented on #12
It is definitely possible with a moderate amount of work.

This isn't a big burden (grin) but I know every little motion adds up as
you work all day.

I'm not sure I'd ever get around to doing this.  Feel free to take a stab
and do it yourself.  It could even be a separate package if you wish and
not interfere with this one.

On Tue, Feb 2, 2016 at 5:08 PM, Joshua Needham notifications@github.com

[2016-02-03 16:28] joshuaneedham commented on #12
Right on. Just wondered if it was in this packages future. Thanks for your contributions!

[2016-02-03 16:28] #12 closed

[2016-03-14 01:36] leeyisoft opened #13 "Uncaught TypeError: Cannot read property 'querySelector' of null"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.5.4
**System**: Mac OS X 10.11.3
**Thrown From**: [simple-drag-drop-text](https://github.com/mark-hahn/simple-drag-drop-text) package, v0.3.0
### Stack Trace

Uncaught TypeError: Cannot read property 'querySelector' of null

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2016-03-19 14:43] ajoslin103 commented on #5
yes, it's the triple-click and drag that is broken.

All the time I will triple-click a line and then drag-select to highlight & move a block of code.  But this package sees that as a double-click & click so it drags the word that I started on.

Interestingly, if you triple-click and hold you can see the whole line is selected -- but then when you drag it carries only the word you started on rathe

[2016-03-19 14:50] ajoslin103 commented on #5
What the!...  It was just broken again for one try (double-click and drag) I had just closed the settings dialog after the uninstall, restart, re-install & go to an open file and test it...  then I closed the settings and returned to tab I was working on and it didn't work first try - incredulously I tried again and it worked...  I still think it's something in the [state] defaults that gets overw

[2016-03-20 21:00] ajoslin103 commented on #5
I have found a work-around

triple-click at the beginning or past the end of the line

either one works as desired

[2016-03-23 15:02] ajoslin103 opened #14 "scroll while dragging starts selecting, drop then prefixes new selection"
if you use your mouse scroll-wheel while dragging, something I often do to drop on the next page, the action causes Atom to starts selecting a new range, when you drop the original text is inserted at the head of the new selection.

[2016-03-26 03:53] axefrog commented on #10
@mark-hahn The conversation is clearly worded confusingly, though I am 99% sure that what was intended is the same as what I come here to report as an issue. Instead, I'll add what I was going to say here, rather than creating a new issue.

The normal experience for dragging text is as follows:
- When text is selected, hovering over the selection changes the cursor to a pointer/arrow
- Clicking an

[2016-03-26 04:00] axefrog commented on #10
I've created a short animation to illustrate my previous message and to help contrast the two experiences:

![atom-mark-hahn-simple-drag-drop-text-issue-10](https://cloud.githubusercontent.com/assets/298883/14057929/075b754c-f35b-11e5-8a24-de34df843a11.gif)

[2016-04-15 23:35] jakeboone02 commented on #1
Looks like #6 closes this issue, but I had a question:  Why is `alt` the default?  I can't think of an instance in any other program or OS where `ctrl`/`cmd` is not the "copy-instead-of-move" modifier.  #6 makes this a moot point, I was just curious.

[2016-04-17 19:58] mark-hahn commented on #1
I agree.

I don't remember for sure.  I think there was some conflict on my setup.  I
couldn't even test it.  Feel free to try to change it.  It should be a
trivial change.

On Fri, Apr 15, 2016 at 4:35 PM, Jake Boone notifications@github.com
wrote:

[2016-04-18 16:58] jakeboone02 commented on #1
OK, will do.  I've never created an Atom extension before, so I have a quick question.

If I make this change:

[code]

Will the change only affect new users, or will existing users have their settings changed when they upgrade?

[2016-04-18 19:57] mark-hahn commented on #1
The code you are showing me allows you to change the key in options.  I
didn't remember I had that in there.  Have you tried changing the setting?

Your change would only change the default setting.  Why would you care?

On Mon, Apr 18, 2016 at 9:58 AM, Jake Boone notifications@github.com
wrote:

[2016-04-18 20:49] jakeboone02 commented on #1
That answers the question.  I would care because I wouldn't want to change all users' key bindings when they update the extension.  They can change the option if they want, as you said, but an update shouldn't force the change on everyone.

I'll put a PR in for the change I showed above. Thanks.

[2016-04-18 21:20] mark-hahn commented on #1
The settings don't change on an update.

On Mon, Apr 18, 2016 at 1:49 PM, Jake Boone notifications@github.com
wrote:

[2016-04-18 21:23] jakeboone02 commented on #1
That answers the question I had. Thanks.

[2016-04-21 08:38] enoversum commented on #10
Yeah, that confused me, too, when I just installed your package. Would like it as in Sublime as well :smile: .

[2016-04-22 22:13] suns-echoes commented on #13
I have found out that this error happens when you have disabled shadow root in your settings.

Just edit **"lib/simple-drag-drop-text.coffee"** file this way:

[code]

For me this solves the problem :)

[2016-04-22 22:16] mark-hahn commented on #13
Can you put that in as a PR?

On Fri, Apr 22, 2016 at 3:13 PM, cmosespl notifications@github.com wrote:

[2016-04-23 07:00] suns-echoes commented on #13
Done.

update to code:

[code]

[2016-04-24 23:36] mark-hahn commented on #13
Did you follow the github docs?  You need to fork, pull, modify, push, and
then request the PR.

On Sat, Apr 23, 2016 at 12:00 AM, cmosespl notifications@github.com wrote:

[2016-07-11 09:55] davidak commented on #9
Drag and drop from and to Sublime on OS X works. But that's a native app, Electron has to support it.

[2016-08-13 10:47] ghost opened #18 "Broken with highlight-selected"
I had to disable hightlight-selected to get it more or less work. Drag n Drop behavior is still unreliable. Is it possible to make it compatible with highlight-selected?

https://atom.io/packages/highlight-selected

[2016-08-14 07:50] ADTC commented on #1
Thanks for this wonderful package adding a much-needed basic feature to Atom! :smiley: And I really want to thank you for making sure I can change the modifier key to Ctrl if I want to. Before installing the package, I didn't know I can (since the readme makes no mention of Ctrl), and I was looking for another package which will surely let me do it. But lucky for you, there was no other package. :

[2016-08-14 08:00] ADTC commented on #13
@cmosespl Check out https://guides.github.com/activities/contributing-to-open-source/#contributing
Let's make it a PR :)

[2016-08-15 11:34] bewam commented on #1
On PC (Windows OR Linux), the Alt is mainly used as shortcut for navigation or to type the Alt-codes on Windows. A menu is called by it's underlined character. The Meta is the "Windows® key" which is used mostly for OS operations, as exemple-the only I know- meta-R on Windows is Run window. The other special key on classical keyboards is the "menu key" for the popup menu.

[2016-08-16 06:29] ADTC commented on #10
I want this too. Those animation examples are neat, but they missed out one thing: When the copy modifier key is held down, the "arrow with box" pointer has an additional [+] sign to indicate the copy operation.

PS: It doesn't look like the current Atom API supports changing mouse pointer at all. The term "cursor" refers to the **text caret** in the API docs.

[2016-08-16 09:19] ADTC commented on #10
I think it should be possible using the `cursor` CSS property put in some classes, and then _somehow_ have the appropriate class applied to the editor pane while dragging or hovering, etc.

Hover: `cursor: default;` or `cursor: grab;`
Move: `cursor: alias;` or `cursor: move;` or `cursor: grabbing;`
Copy: `cursor: copy;`
Normal: unset or reset to `cursor: text;`

I looked at the API docs and anothe

[2016-11-13 13:04] vnt opened #19 "atom-text-editor.Object.defineProperty.get is deprecated."
The contents of `atom-text-editor` elements are no longer encapsulated
within a shadow DOM boundary. Please, stop using `shadowRoot` and access
the editor contents directly instead.
[code]

[2016-12-08 11:31] pmrotule opened #20 "Wrong command for installation in README"
There is a small mistake in the installation instructions:
`atom install simple-drag-drop-text`

should be
`apm install simple-drag-drop-text`

[2016-12-12 10:20] mischnu opened #21 "Issue with triple-click"
There is little trouble with marking more than one paragraph (at least on macOS). I used to do this by **triple-clicking** and holding the mouse button somwhere in the text of the first line and then move down to the last line. The triple-click ensures that the whole paragraph is marked including the line break at the end.

However, with simple-drag-drop-text the whole paragraph is displayed as ma

[2017-01-03 22:22] lgedeon opened #22 "Wrong command for installing"
Command to install should be: `apm install simple-drag-drop-text` instead of `atom ...`

[2017-01-11 22:55] Sogl opened #23 "Deprecated calls in new Atom versions"
Hello!

What I see in last Atom v. 1.13.0 ia32:
![image](https://cloud.githubusercontent.com/assets/7556290/21869732/17b77ff2-d8ad-11e6-828f-58b4c091a4ea.png)

Is it possible to update the plugin?

[2017-01-11 23:53] mark-hahn commented on #23
I'm sorry but I don't have the time to work on atom projects right now.  I
would be happy if someone else could take over ownership of any or all.

On Wed, Jan 11, 2017 at 2:55 PM, Artyom Mezin <notifications@github.com>
wrote:

[2017-01-13 15:22] geoffthibeau commented on #23
@Sogl The coffee file is linked in that deprecation warning. Click it and modify the coffee file to remove the deprecation warning.

A quick test that seems to be working: within the `setEditor` method, remove/comment the `@lines.shadowRoot` stuff.

Here is a paste of what you can replace `setEditor` with:
[code]

Indentation matters. Atom will let you know if you've got something wrong.

[2017-01-13 20:11] mark-hahn commented on #23
If I give you ownership of the package can you implement this?  I joined a
start-up and I have almost zero hours a day free.

On Fri, Jan 13, 2017 at 7:22 AM, Geoff Thibeau <notifications@github.com>
wrote:

[2017-01-15 01:45] Jany-M commented on #23
As @geoffthibeau pointed out, the only change is commenting out the line of code that use `shadowRoot` and simply leaving `@lines = @lines.querySelector '.lines'` as the only line among those.
Fixes the deprecation notice and the package works fine.
Maybe a Pull Request?

@mark-hahn it really is a super fast fix, whenver you could manage.

[2017-01-15 14:28] johnathan99j commented on #19
This is being discussed at #23

[2017-01-19 19:48] sanzinken opened #25 "The contents of atom-text-editor elements are no longer encapsulated within a shadow DOM boundary. Please, stop using shadowRoot and access the editor contents directly instead."
atom-text-editor.Object.defineProperty.get - /opt/atom/resources/app.asar/src/text-editor-element.js:68:18
<unknown> - /home/l3xx/.atom/packages/simple-drag-drop-text/lib/simple-drag-drop-text.coffee:58:26
_combinedTickCallback - internal/process/next_tick.js:67:7
process._tickCallback - internal/process/next_tick.js:98:9

[2017-01-20 04:59] riclf commented on #19
On Atom 1.13.0 I'm still getting 2 issues about shadowRoot even though I had Disabled the Plugin, the Deleted it, and finally re-acquired it via the Atom Plugin Install.  No complaints, just a FYI.  -Ric

[2017-01-22 11:15] ghost commented on #25
Duplicate of #23

[2017-01-31 14:51] Oblik-Design commented on #19
same error still, please update it, it's a great addition to Atom.

[2017-02-01 02:56] tp00012x commented on #19
The contents of atom-text-editor elements are no longer encapsulated within a shadow DOM boundary. Please, stop using shadowRoot and access the editor contents directly instead.
Report Issue
atom-text-editor.Object.defineProperty.get - /Applications/Atom.app/Contents/Resources/app.asar/src/text-editor-element.js:68:18
<unknown> - /Users/anthonyptorres/.atom/packages/simple-drag-drop-text/lib/simpl

[2017-02-08 14:05] GeorgeWL commented on #19
@tp00012x we know, see #23

[2017-02-08 14:07] GeorgeWL commented on #23
@mark-hahn has anyone taken you up on the sharing ownership yet?

I'm personally a bit too junior in skill I think to deal with the amount of work this project has, but would love to see it updated.

[2017-02-08 18:47] mark-hahn commented on #23
On Wed, Feb 8, 2017 at 6:07 AM, George W Langham <notifications@github.com>
wrote:

No.  So you taking over ownership would be an improvement no matter what
your skill level.  :-)

[2017-02-08 19:03] riclf commented on #23
@mark-hahn I have never even seen a coffee source file, or I would bite for the community. But in the time it takes to respond here you could make the change that @Jany-M has suggested. PLEASE. Do I need to send you a pizza? ;)

[2017-02-08 23:27] mark-hahn commented on #23
It's not a matter of just working on it.  I don't have any dev tools set up
for it.  I've switched to working on embedded systems.  I don't even
remember at the moment what the process is for releasing packages.

On Wed, Feb 8, 2017 at 11:03 AM, Richard Fink <notifications@github.com>
wrote:

[2017-02-09 02:40] geoffthibeau commented on #23
@mark-hahn I'll do it. What's the process to transfer ownership?

[2017-02-09 03:08] mark-hahn commented on #23
First you have to delete any repo with the same name.  Save your copy
somewhere.

On Wed, Feb 8, 2017 at 6:40 PM, Geoff Thibeau <notifications@github.com>
wrote:

[2017-02-09 03:15] geoffthibeau commented on #23
@mark-hahn Sorry. It's deleted now. I also looked up the transfer help doc so I'll look out for the email once you process it. Thanks!

[2017-02-09 13:40] Seralto opened #26 "atom-text-editor.Object.defineProperty.get is deprecated."
The contents of `atom-text-editor` elements are no longer encapsulated
within a shadow DOM boundary. Please, stop using `shadowRoot` and access
the editor contents directly instead.
[code]

[2017-02-09 14:58] #23 closed

[2017-02-09 14:58] #25 closed

[2017-02-09 15:02] #20 closed

[2017-02-09 15:03] geoffthibeau commented on #22
Thanks for reporting! This will be resolved in 0.3.3

[2017-02-09 15:03] #22 closed

[2017-02-09 15:38] geoffthibeau commented on #1
Thanks, @jakeboone02. Your pull request was merged this morning.

[2017-02-09 15:38] #1 closed

[2017-02-09 15:48] #4 closed

[2017-02-09 15:51] geoffthibeau commented on #13
I believe this issue was resolved and returned shortly in #23.

[2017-02-09 15:51] #13 closed

[2017-02-09 15:55] geoffthibeau commented on #19
I've taken over as maintainer of this package. Please update to 0.3.4 (you should see an available update for this package in Atom).

[2017-02-09 15:55] #19 closed

[2017-02-09 15:58] geoffthibeau commented on #26
@Seralto Yesterday the original author gave ownership of the package to me. I've pushed an update (0.3.4) this morning that should resolve your issue.

Related: #19, #23, #25

[2017-02-09 15:58] #26 closed

[2017-02-09 16:03] geoffthibeau commented on #5
I know this issue is old, but after triple-clicking to select a line and then click-dragging to move, it does seem to work as expected.

This may be a platform difference. I'm on Mac. @kingjeffrey can you confirm if this has been resolved?

[2017-02-09 16:07] geoffthibeau commented on #21
Sounds related to #5 . I'm on Mac but haven't used this method of moving text before.

Can you perform this in TextEdit or another Mac program? Maybe I'm not clicking correctly.

What *does* work is triple-clicking to select a paragraph, then a separate click-drag to move the paragraph. But it sounds like you're expecting the original triple-click to carry a drag feature with it.

Please confirm.

[2017-02-09 16:09] ajoslin103 commented on #5
I think you are letting up on the mouse after your initial 3xClick

The intention is to select multiple lines by starting w/a triple-click and then continuing with a drag

[2017-02-09 16:36] Seralto commented on #26
Dear @geoffthibeau, problem solved.
Many thanks.

[2017-02-10 00:01] Sogl commented on #23
@geoffthibeau Thx for the fix!
Now you also plugin/repository owner. Surprisingly :smile:

[2017-02-10 00:04] Sogl commented on #10
@geoffthibeau As a new repository owner, do you have time and pleasure to resolve this enhancement?

[2017-02-10 00:06] riclf commented on #23
@geoffthibeau I would like to express my appreciation to you too. Your effort to the community is recognized. And @mark-hahn, I would like to thank you for the original work. It has been very useful. Your willingness to let another dev in to fix the code is worthy of thanks too. Thank you both.

Coding on-wards!

[2017-02-10 00:15] mark-hahn commented on #23
Ditto.  I also have 19 other packages that need loving.  Hint hint.

[2017-02-10 02:02] geoffthibeau commented on #10
@Sogl Yep. I looked through the issues today and hope to resolve them soon. Atom is my daily editor so trying to give back in a small way.

[2017-02-10 19:09] wewark opened #27 "Function.extractParams is deprecated."
Assigning custom properties to a marker when creating/copying it is
deprecated. Please, consider storing the custom properties you need in
some other object in your package, keyed by the marker's id property.
[code]

[2017-02-14 16:58] midwestocean opened #28 "Drag and Drop Not Working"
I'm no longer able to use the drag and drop. It started about 1-2 weeks ago. No matter how long I hold down or where I try to click on the highlighted text, or even when holding down Ctrl, it will just start selecting text again as soon as I move the mouse.

I'm also no longer able to drag text from other sources and drop it onto a file in atom, so it's possible the problem is with Atom itself. I

[2017-02-15 02:29] geoffthibeau commented on #28
@midwestocean Are you able to update Atom to the latest release? It could be that the change in 1.13.0 (removing shadowRoot) is not backwards compatible.

[2017-02-16 14:54] midwestocean commented on #28
That did it, thank you! I completely forgot don't have a ppa for atom so it doesn't update through apt. I assumed it was already at the newest version. No matter how long I code, I guess I'll always have to relearn the "never assume" lesson every now and again.  : \

[2017-02-16 14:54] #28 closed

[2017-02-18 14:14] ADTC commented on #1
Could you also enhance the Readme? It should change the mentions of default modifier from "Alt" to "Ctrl" and then add a mention for the ability to change it to Alt or Meta in the package settings.

Also make a mention of what "meta" really means (in the Readme, not here).

[2017-02-19 03:13] geoffthibeau commented on #1
@ADTC Is the existing README not satisfactory? I included super/Windows/command as a description of meta.

[2017-02-19 06:40] ADTC commented on #1
@geoffthibeau so sorry. I didn't notice that you had already updated the Readme in b642225 😨 😄

[2017-02-19 17:02] geoffthibeau commented on #1
@ADTC No worries.

[2017-02-23 19:18] brunnobb opened #29 "atom-text-editor.Object.defineProperty.get is deprecated."
The contents of `atom-text-editor` elements are no longer encapsulated
within a shadow DOM boundary. Please, stop using `shadowRoot` and access
the editor contents directly instead.
[code]

[2017-02-23 20:37] noseGoblin opened #30 "update broke plugin on Atom beta"
The recent 2/9/17 update has completely disabled this plugin for me, which I use constantly. It's driving me crazy. I love this tool, so somebody please fix this.

I am on Atom beta ver 1.9.0-beta1

My package ver is 0.3.4, but it looks like Feb 9th there were 3 version updates, so I don't know what happened. All I know is I have tried a lot of renaming, reinstalling, deleting re-this re-that and

[2017-02-24 01:50] geoffthibeau commented on #30
@noseGoblin Are you able to update Atom? They deprecated things in 1.13.x which is why we pushed the update(s) earlier this month.

Related: #28

[2017-02-24 01:53] geoffthibeau commented on #29
@brunnobb Have you updated this plugin to the latest version? I believe we've fixed this deprecation.

Please confirm which version of simple-drag-drop-text you are using. Thanks!

[2017-03-30 15:34] janstieler opened #31 "Preview while dragging"
Hi,

I would appreciate if the package would serve a preview of the text while I'm on dragging.

Cheers

[2017-06-27 12:24] rondonjon commented on #10
Thanks for taking over, @geoffthibeau. Any news on this? Apparently one of the most-wanted features.

[2017-07-20 10:13] lsalomon opened #32 "Uncaught TypeError: editorBuffer.getLastRow is not a function"
Hi !

I have this message when I try to drag with a modifier key in order to copy instead of moving the text.

Atom OSX 1.18.0

[2017-07-20 10:14] #32 closed

[2017-08-10 09:55] Obras opened #33 "Time delay before entering drag&drop mode"
would it be possible to add a small delay (let's say 500ms) before entering drag&drop mode? else some operations (on Mac only?) like double-click and drag to select more words become quite difficult.

thanks!

[2017-09-13 12:36] alexdevero opened #34 "Plugin broken in Atom 1.21.0-beta0"
Plugin no longer works in the latest Atom 1.21.0-beta0. Selecting and then pasting text doesn't drag the text. Instead, the selection is changed. There is no error in console.

Atom version: 1.21.0-beta0
Plugin version: 0.3.4
OS: Windows 10 (64bit)

[2017-09-19 03:53] zisheng-ai commented on #34
I hava same problem in 1.21.0-beta0. @alexdevero

[2017-09-20 11:16] enoversum commented on #34
Here too!

[2017-09-27 13:54] geoffthibeau commented on #34
Hey, thanks for the heads up. I've been working on a patch and will be releasing very soon.

[2017-09-27 13:59] alexdevero commented on #34
@geoffthibeau Thank you very much Geoff!

[2017-09-27 14:06] zisheng-ai commented on #34
First,Thanks for your patch.If you realease it,please tell us on here.

[2017-09-27 18:14] #34 closed

[2017-09-27 18:25] geoffthibeau commented on #34
0.3.5 is also broken. I somehow missed two lines when copying over to the repo today.

0.3.6 is the version you want.

[2017-09-27 23:18] zisheng-ai commented on #34
Good news in morning.

[2017-11-01 15:02] alexdevero opened #35 "Multiple selection doesn't work in Atom 1.22.0-beta2"
I am unable to select multiple multiple selections of text - make one selection, hold CTRL and select another. Now, the second selection is blocked.

PR that probably caused this issue:
https://github.com/atom/atom/pull/15916

[2017-11-01 15:04] #35 closed

[2017-11-01 21:08] geoffthibeau commented on #35
Thanks for reporting, @alexdevero.

[2018-01-14 08:53] mvanlammeren commented on #5
I would love to use this package, because I do occasionally drag text, but far more frequently I triple-click and drag to select blocks of text. I cannot use this package the way it is. I use a Mac, and triple-click and drag has been a UI element forever.

[2018-01-14 09:07] mvanlammeren commented on #21
It is a long-standing UX on the Mac to triple-click and drag to select blocks of text. In fact, I noticed that this was "broken" within 30 seconds of installing simple-drag-drop-text.

You can try this UX feature in almost any Mac application, including Notes, TextEdit, or right on this page in a web browser.

Single-click and drag: selects from first cursor position to second cursor position
Doub

[2019-02-21 02:57] kaiyoma commented on #10
Wow, no updates in a year and a half. It's pretty bothersome that the mouse cursor doesn't change to the default when hovering. Any chance on this getting fixed soon?

[2019-05-25 14:27] lyndalopez544 opened #36 "Update all dependencies to the latest version"

[2019-07-24 04:09] geoffthibeau commented on #5
Resolved with v0.5.0.
2c75449e4924e08b30c40229916f49311a613aae

[2019-07-24 04:09] #5 closed

[2019-07-24 04:10] geoffthibeau commented on #21
Resolved with v0.5.0.
2c75449e4924e08b30c40229916f49311a613aae

[2019-07-24 04:10] #21 closed

[2019-07-24 04:11] geoffthibeau commented on #33
Resolved with v0.5.0.
2c75449e4924e08b30c40229916f49311a613aae

[2019-07-24 04:11] #33 closed

[2019-07-24 04:14] geoffthibeau commented on #14
Are you able to reproduce this issue with v0.5.0?

[2019-07-26 13:55] unfunk77 opened #37 "simple drag working anymore without CTRL since 0.5.0"
simple draggin a selection without pressing any key stopped working since 0.5.0 It's working when CTRL is pressed, but this usually is intended to drag&copy the text instead of just dragging it. Will have to install the old version to make it work again.

[2019-07-28 22:49] Bloemendaal commented on #37
~~Same problem here~~
Atom 1.39.1 on Windows 10

Edit: Change the delay in package settings :)

[2019-07-30 19:29] geoffthibeau commented on #37
I added a feature to delay the drag in order to implement triple-click selections and another user's request to delay the drag. `500ms` is the default, but you're welcome to lower that to `1ms` within the plugin settings to simulate pre-0.5.0 behavior.

[2019-08-26 13:57] franklinhardt commented on #37
Changing the delay to 1ms worked for me. thx!

[2019-08-30 03:47] mondeuse opened #38 "dragging now just re-selects"
This package was working perfectly for ages, but something relatively recently has completely broken it for me. Now when I go to drag the selected text, the cursor just starts creating a new selection, rather than moving the text that was selected. I've tried disabling/restart Atom/re-enabling, uninstalling/restart Atom/re-installing, but no joy so far. Please help!
Running V1.40.1 on Win 10

[2019-08-31 17:01] geoffthibeau commented on #38
@mondeuse `0.5.0` introduced a much-requested feature that changed the default behavior of this plugin. To restore pre-0.5.0 behavior, go to the plugin settings and drop the Delay down to 1ms.

[2019-09-01 23:36] mondeuse commented on #38
Ah, I wasn't aware of that - have updated the settings as instructed and functionality is back, thank you!

[2019-09-01 23:36] #38 closed

[2021-04-01 17:12] Sod-Almighty commented on #27
Are you going to fix this error that was reported four years ago?

[2022-02-05 15:51] Lotharyx opened #39 "Press Esc to cancel drag"
Thank you for this great package.  Please consider adding an enhancement so that pressing Esc in the middle of a drag will cancel the drag operation.

[2022-02-05 16:00] Lotharyx commented on #31
Agree; there should be a preview, or if that's prohibitively complicated, some sort of change in the cursor to indicate the drag is in progress.  Most editors at least change the mouse cursor in some way.

[2022-02-05 16:23] Lotharyx opened #40 "Drag operation confused if mouse traverses line-number margin"
If the mouse wanders over the line-number margin during the drag operation, the editor begins highlighting lines as though they were being selected.  If the mouse is released while still in that margin, the text is "dropped" at the top of the highlighted block.

Demonstration:
https://youtu.be/LzWI1V-NnYo

[2022-02-19 07:56] #30 closed

[2022-02-19 07:57] #29 closed

[2022-02-19 08:10] #10 closed

[2022-02-19 08:10] #39 closed

[2022-02-19 08:12] geoffthibeau commented on #36
4056c70d0f16407db17bc04d60bd0512dfd454a8

[2022-02-19 08:12] #36 closed

[2022-02-19 08:14] geoffthibeau commented on #8
If the Atom team didn't resolve it in atom/atom#8891, the recent release has removed sub-atom as a dependency: 4056c70d0f16407db17bc04d60bd0512dfd454a8.

[2022-02-19 08:14] #8 closed

[2022-02-19 08:14] #14 closed

[2022-02-19 08:23] geoffthibeau commented on #31
@Lotharyx I've pushed a release to support cursor changes based on dragging or copying. Related: #10 .

I may need help with the preview feature if that's something you'd like to PR.

[2022-02-19 14:37] Myvh opened #41 "Uncaught TypeError: Cannot read property 'classList' of undefined"
Steps to reproduce:

1. Launch Atom with `simple-drag-drop-text` package enabled.
2. That's it.

**Atom**: 1.59.0 x64
**Electron**: 9.4.4
**OS**: Windows 10
**Thrown From**: [simple-drag-drop-text](https://github.com/geoffthibeau/simple-drag-drop-text) package 0.6.0

### Stack Trace

Uncaught TypeError: Cannot read property 'classList' of undefined

[code]

### Commands

[code]

### Non-Core Packa

[2022-02-19 15:32] #41 closed

[2022-02-19 15:34] geoffthibeau commented on #41
👋 Thanks for reporting the bug so quickly.

This error wasn't happening during my testing, but 0.6.1 should resolve it.

[2022-02-23 18:11] Lotharyx commented on #39
Pressing Esc now seems to cause the drag-drop operation to _complete_ (i.e. move the text) instead of _cancel_ (i.e. leave the text in its original location).  Pressing Esc should leave the highlighted text in its original position.

[2022-02-23 18:17] Lotharyx commented on #10
I humbly suggest this issue not be considered "closed" yet for a few reasons:

1) The standard arror cursor isn't really the "right" cursor to use during drag
2) The cursor still shows up as I-beam before dragging starts (possibly out of scope for this module)
3) The issue of confusing visual effects reported by @axefrog are still in evidence

The situation is certainly improved by the recent comm

[2022-02-23 19:02] Lotharyx opened #42 "Text Does Not Unhighlight"
This may not at all be caused by simple-drag-drop-text, but the issue seemed to arrive after I updated the module.

After the module is activated for a selection, that selection highlight may never go away (i.e. the text remains highlighted).  This does not affect further selection actions; it is just a visual issue.  Unfortunately it means that new selections within the stuck-highlighted text are

[2022-02-26 08:55] nicolashainaux commented on #42
Same here...

[2022-03-03 10:37] andreazorzi commented on #42
Same to me, I found this temporary solution:
in the developer console, run the script
`
for(let el of document.querySelectorAll(".highlight.selection")){
    el.remove()
}
`

[2022-03-15 07:50] l0gical commented on #42
Same for me too (occasionally)
Have not tried the command above.

[2022-03-28 13:14] webdevian commented on #42
Same here, even if I don't complete a drag & drop. I have disabled the package for now

[2022-03-28 13:18] l0gical commented on #42
Ditto

[2022-03-31 14:56] roelofcoster commented on #42
Same here...

[2022-03-31 16:27] trogper commented on #42
@webdevian @nicolashainaux @l0gical @andreazorzi @roelofcoster
Please do not comment "same here", use thumbs up on the original post instead.
Such comments cause unnecessary notifications to people involved and do not contribute to solving the issue.
Thank you for understanding

[2022-05-31 21:25] joshuambg commented on #42
I'm commenting "same here" because I want this fixed and people to be notified.

FIX IT

[2022-05-31 21:28] trogper commented on #42
Please be aware, that the developer is providing this package for free and developing it in his free time.

[2022-06-15 14:18] geoffthibeau commented on #42
:wave: Thank you for reporting this.

[With Github sunsetting Atom by the end of the year](https://github.blog/2022-06-08-sunsetting-atom/), I am choosing to also sunset this plugin.

The behavior provided by this plugin comes out-of-the-box within Visual Studio Code, the editor recommended by Github/Microsoft as an alternative to Atom.

If someone else wants to fix this issue with a PR, I welcome

[2022-06-15 14:20] geoffthibeau commented on #31
Regarding the preview, I am sunsetting this plugin to coincide with [Github's plan to sunset Atom by the end of this year](https://github.blog/2022-06-08-sunsetting-atom/). New features will not be added.

[2022-06-15 14:21] geoffthibeau commented on #11
Enhancements will not be added to this plugin, as [Github plans to sunset Atom by the end of this year](https://github.blog/2022-06-08-sunsetting-atom/).

[2022-06-15 14:21] #11 closed

[2022-06-15 14:22] geoffthibeau commented on #9
Enhancements to this plugin will not be added, as [Github has decided to sunset Atom by the end of this year](https://github.blog/2022-06-08-sunsetting-atom/).

[2022-06-15 14:22] #9 closed

[2022-06-15 14:23] geoffthibeau commented on #18
There is no plan to improve interoperability with other Atom packages, as [Github has chosen to sunset Atom by the end of this year](https://github.blog/2022-06-08-sunsetting-atom/).

[2022-06-15 14:23] #18 closed